.footer{
    width: 100%;
    bottom: 0;
    // position: fixed;
    // flex-shrink: 0;
    text-align: center;
    background-color: #daa4e7 ;
    color: black;
    padding: 0.09em;
    margin-top: 150px;
  }