$black: #303030;
$width: 800px;
$purple: #262161;
$yellow: Moccasin;
$pink: #EE7297;
$green: #93FF00;
$red: #E50714;
$grey: lighten(lavender, 40%);
$shad: 0 0 10px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.05);
$grad: linear-gradient(90deg, #9debe5 0%, #af6ac0 20%, #e0769f 60%, $yellow 85%, #e28eb8 95%);
$verticalGrad: linear-gradient(0, #9debe5 0%, #af6ac0 20%, #e0769f 60%, $yellow 85%, #e28eb8 95%);
